body{
    background-color: #f8f9fa;
}

header{
    background-color: #212529;
    color: white;
    padding: 30px;
}

h1{
    color: orange;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: orange;
}

.btn-primary{
    margin-top: 15px;
}

.container{
    margin-top: 20px;
}

footer{
    margin-top: 50px;
    text-align: center;
}